@import "node_modules/@bbva-web-components/bbva-foundations-sass/main";

:host {
  display: block;
  box-sizing: border-box;
}

:host([hidden]), [hidden] {
  display: none !important;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content-negative {
  padding-top: 15px;
}

.container {
  overflow: hidden !important;
}

.container-body {
  border: 1px solid var(--voce-color-border-container);
  height: var(--voce-container-height);
  padding: var(--voce-container-padding);
  font-size: var(--voce-font-size);
  position: relative;
}

.rRow {
  display: flex;
  padding: 5px;
  grid-auto-rows: 1fr;
}

.is-cursor {
  cursor: pointer;
}

.rRow.active {
  background: #b6daf5;
}

.rRow:hover {
  background: #b6daf5;
  border-radius: var(--voce-radius);
}

.item-space-wide,
.item-column {
  display: flex;
}

.item-column {
  flex-direction: column;
}

.item-auto-size {
  flex: 0 1 auto;
}

.item-space {
  flex: 1;
  min-width: 0;
}

.align-centered {
  align-items: center;
}

.capitalize-uppercase {
  text-transform: lowercase;

  &::first-letter {
    text-transform: uppercase;
  }
}

.collapse-detail {
  border: 1px solid var(--eraxc-color-core-blue, #004481);
  padding: 5px 10px;
  margin-top: -1px;
}

.list-movements {
  position: relative;
  /*max-height: 165px;*/
  height: 182px;
}

.list-movements-empty {
  position: relative;
  height: 230px;
}

.has-scroll {
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 5px;
}

time {
  display: inline-flex;
  flex-direction: column;
  text-align: center;
  @apply --cells-date-format-time;
}

.day {
  font-size: var(--cells-date-format-day-font-size, rem(18px));
  font-weight: 500;
  margin-bottom: rem(2px);
  letter-spacing: 0.3px;
  @apply --cells-date-format-day;
}

.month {
  font-size: var(--cells-date-format-month-font-size, rem(9px));
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: rem(2px);
  @apply --cells-date-format-month;
}

.year {
  font-size: var(--cells-date-format-year-font-size, rem(10px));
  @apply --cells-date-format-year;
}

.heading {
  color: var(--cells-movements-list-item-heading-color, var(--bbva-medium-blue, #237ABA));
  font-weight: bold;
  text-transform: uppercase !important;
  text-align: left;
  margin-top: 10px;
  small {
    color: #000;
  }
}

.time {
  border-right: 1px solid var(--bbva-400, #BDBDBD);
  padding-right: 0.5625rem;
  margin-left: 0.0625rem;
  margin-right: 0.5625rem;
}

.negative {
  color: var(--cells-movements-list-item-amount-negative-color, var(--bbva-dark-red, #B92A45));
  font-size: var(--cells-date-format-day-font-size, rem(18px));
}

.negative-span {
  color: var(--cells-movements-list-item-amount-negative-color, var(--bbva-dark-red, #B92A45));
}

.amount {
  font-size: var(--cells-date-format-day-font-size, rem(18px));
  font-weight: 500;
}

.fractional {
  position: relative;
  font-size: 0.775rem;
  margin-left: var(--cells-atom-amount-fractional_-_margin-left);
  margin-top: -10px;
  top: -5px;
}

.panel-size {
  /*height:343px;*/
  height: 420px;
}

.message-size {
  height: 160px;
  max-height: 160px;
}

.visible {
  visibility: visible;
}

.hidden {
  visibility: hidden;
  display: none;
}

.dTableCell {
  display: table-cell;
}

.colspan {
  width: 565px;
}

.divRelative {
  position: relative;
  height: 25px;
}

.btn-link {
  color: var(--voce-color-button);
  display: inline-block;
  vertical-align: middle;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
}

div.badge-container {
  margin: 4px 0;
}

cells-tabs-fcc {
  --bbva-tab-default-min-width: 25%;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.cursor-pointer {
  cursor: pointer;
}

.calendar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 285px;
  border: 1px solid #cccccc;
  font-family: sans-serif;
  z-index: 1000;
  color: #666;
  background-color: white;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  height: 320px;
  -webkit-transform: scale(0.7) translate(0px, -5px);
  -ms-transform: scale(0.7) translate(0px, -5px);
  transform: scale(0.7) translate(0px, -5px);
  -webkit-transform-origin: top left;
  -ms-transform-origin: top left;
  transform-origin: top left;
}

.calendar-component {
  padding-top: 0;
  cursor: pointer !important;
}


.parent-calendar {
  position: relative;
}


cells-tabs-fcc {
  overflow: visible !important;
}

cells-operations-denied-fcc {
  --voce-container-height: 100%
}

#OperationsDeniedInfo {
  margin-top: 15px;
}

.modal-payment-routing{
  text-align: right;
    font-size: 10px;
    font-weight: 700;
    color: #3b73af;
    text-decoration: underline;
    cursor: pointer;
}

.row.row--filter {
  grid-template-columns: auto auto 70px;
}

.row.row--filter-modal {
  grid-template-columns: auto auto 100px;
}

.is-blue {
  color: #3b73af;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.top {
  margin-top: 25px;
}

.buttonAccept, .buttonConfirm, .buttonContinue{
  font-size: 12px;
  font-weight: bold;
  height: 40px;
}

.container-modal{
  padding: 10px;
  padding-right: 25px;
  padding-left: 25px;
}

.row.row--content-2 {
  grid-template-columns: 1fr 10fr;
}

.cursiva {
  font-style: italic;
}

.center-div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0;
}

.color-body {
  background-color: #D4E3EF;
  color: #3b73af;
}

.has-center-v {
  align-items: center;
}

bbva-form-date {
  zoom: 0.9;
}

.span-size{
  font-size: 14px;
}

.title-today {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 15px;
  padding: 10px 15px;
}

.contet-info-s2 {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 14px;
}

.contet-speech-s2 {
  padding: 5px 10px 10px 10px;
  font-size: 14px;
}

.register-case {
  margin-right: 10px;
}

.success-movement {
  background-color: rgb(194, 243, 227) !important;
}

.error-movement {
  background-color: #f1cfd6 !important;
}

.content-item-selection {
  display: flex;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  margin-bottom: 5px;
  background-color: #fff;
  transition: all 0.2ms ease-in-out;
  .concept {
    font-size: 1.1em;
    text-transform: uppercase;
  }
  .amount {
    font-size: 1.1em;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--cells-movements-list-item-amount-negative-color, var(--bbva-dark-red, #B92A45));
  }
}

.buttonCancel {
  margin-left: 5px;
  font-size: 12px;
  font-weight: bold;
  height: 40px;
}

.content-buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}